<nz-spin [nzSpinning]="loader" [nzSize]="'large'">
  <div class="w-full flex justify-between items-center">
    <h1 class="text-xl font-semibold">{{kanbanData?.title}}</h1>
    <button *ngIf="this.kanbanData?.kanlistArray" nz-button nzType="primary"
      [class]="kanbanData?.actionButtonClass ? kanbanData?.actionButtonClass :  'actions-btn btn-no !border-none !bg-blue-600 hover:!bg-blue-500 my-2 !h-[35px]'"
      nz-dropdown [nzDropdownMenu]="menu4">
      Actions
      <span nz-icon nzType="down"></span>
    </button>
  </div>
  <!-- list -->
  <nz-dropdown-menu #menu4="nzDropdownMenu" class="action-drop-down-list">
    <ul *ngIf="this.kanbanData?.kanlistArray" nz-menu class="!p-2">
      <ng-container *ngFor="let item of this.kanbanData['kanlistArray']">
        <li nz-menu-item *ngIf="item?.isShow">
          <a (click)="dataDisplay(item.key)" class="!text-black">{{item.key}}</a>
        </li>
      </ng-container>
    </ul>
  </nz-dropdown-menu>
  <div class="w-full overflow-hidden h-[calc(100vh-154px)]  !overflow-x-auto" [processData]="processData" [appConfigurableSelect]="kanbanData?.appConfigurableEvent "
    [loadAction]="kanbanData?.eventActionconfig ">
    <div class="flex h-full" cdkDropListGroup>
      <div [kanbanData]="kanbanData" [screenLink]="kanbanData.screenLink"
        [editScreenLink]="kanbanData.editScreenLink" [mappingId]="mappingId" [listIndex]="i"
        (moveCardAcrossList)="moveCardAcrossList($event)" (taskDeleteEmit)="delete($event)" [form]="form" [formlyModel]="formlyModel"
        [screenId]="screenId" [screenName]="screenName" (deleteList)="deleteList($event)" attr.listIndex="{{i}}"
        (taskSubmitEmit)="recallApi($event)" [kanbanData]="kanbanData"
        [lane]="lane" *ngFor="let lane of kanbanData.children ;let i = index" st-lists class="board-dnd-list h-full">
      </div>
    </div>
  </div>
</nz-spin>