.ant-typography{
    color: rgb(255 255 255);
    overflow-wrap: break-word;
}

.comment{
    border-radius: 50% 50% 50% 0;
}


/* Element | http://taskmanager.com:5600/ */

.close-icon {
    left: 47px;
    top: 119px;
  }
  