<!-- <form>
    <div class="p-6">
        <div class="block p-6 rounded-lg shadow-lg bg-white">
            <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-6">
                    <div class="form-group">
                        <label for="localtion"
                            class="block text-sm font-medium leading-6 text-gray-900">Enter your Address</label>
                        <div class="mt-2">
                            <input nz-input type="text" autocorrect="off" autocapitalize="off" spellcheck="off"
                                class="block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white border rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-750 focus:outline-none border-solid border-gray-300 bg-clip-padding"
                                id="localtion" placeholder="search for location" #search />
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <div class="form-group">
                        <label for="street"
                            class="block text-sm font-medium leading-6 text-gray-900">Street</label>
                        <div class="mt-2">
                            <input type="text" [(ngModel)]="address.street" name="street"
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white border rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-750 focus:outline-none border-solid border-gray-300 bg-clip-padding"
                                id="street" placeholder="Street" />
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <div class="form-group">
                        <label for="city"
                            class="block text-sm font-medium leading-6 text-gray-900">City</label>
                        <div class="mt-2">
                            <input type="text" [(ngModel)]="address.city" name="city"
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white border rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-750 focus:outline-none border-solid border-gray-300 bg-clip-padding"
                                id="city" placeholder="City" />
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <div class="form-group">
                        <label for="state"
                            class="block text-sm font-medium leading-6 text-gray-900">State</label>
                        <div class="mt-2">
                            <input type="text" [(ngModel)]="address.state" name="state"
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white border rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-750 focus:outline-none border-solid border-gray-300 bg-clip-padding"
                                id="state" placeholder="State" />
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <div class="form-group">
                        <label for="zip_code" [(ngModel)]="address.zipcode" name="zipcode"
                            class="block text-sm font-medium leading-6 text-gray-900">ZIP
                            Code</label>
                        <div class="mt-2">
                            <input type="text"
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white border rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-750 focus:outline-none border-solid border-gray-300 bg-clip-padding"
                                id="zip_code" placeholder="ZIP Code" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-6 flex items-center justify-end gap-x-6">
                <button type="submit"
                    class="px-6 py-2.5 bg-blue-750 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Submit</button>
            </div>
        </div>
    </div>
</form>

<google-map height="250px" width="100%" [center]="mapOptions.center" [zoom]="mapOptions.zoom">
    <map-marker [position]="marker.position"></map-marker>
  </google-map> -->