<div [class]="'card-content ' + (mainData['rowClass'] ? mainData['rowClass'] : 'flex flex-wrap')">
  <div class="{{!item.hideExpression  ? item.className + ' ' + item?.appGlobalClass : ''}} relative"
    *ngFor="let item of mainData.children ; index as i; last as isLast" [ngClass]="{
      'builder-menu-incollapse': item?.type === 'buildermenu' && !dataSharedService.isMenuCollapsed,
      'builder-menu-collapse': item?.type === 'buildermenu' && dataSharedService.isMenuCollapsed,
      '!w-[calc(100%-200px)]' : item.key === 'buildermenutask' && !dataSharedService.isMenuCollapsed ,
      '!w-[calc(100%-100px)]' : item.key === 'buildermenutask' && !dataSharedService.isMenuCollapsed
      }">
    <div [ngClass]="{'highLight': item.highLight == true}" *ngIf="!item.hideExpression">
      <st-task-report class="close-icon absolute left-[23px] top-[-9px] z-[1000]"
        *ngIf="item['issueReport'] && item['issueReport']?.length > 0 && item.type != 'input'" [item]="item"
        [screenName]="screenName" [type]="'pages'"></st-task-report>
      <span *ngIf="applicationId == '651fa8129ce5925c4c89ced7' &&  !url.includes('/builder'); else withOutCOmment">
        <st-mains [mappingId]="mappingId" [isDrawer]="isDrawer"
          (click)="applyHighlightInsideLayer(mainData , item.id , $event)" [item]="item" [formlyModel]="formlyModel"
          [screenName]="screenName" [screenId]="screenId" [isLast]='isLast' [form]="form" *ngIf="item"></st-mains>
      </span>
      <ng-template #withOutCOmment>
        <span [contextMenu]="oneContextMenu">
          <context-menu #oneContextMenu>
            <!-- <ng-template contextMenuItem (execute)="copyJson(item)">Copy</ng-template> -->
            <ng-template contextMenuItem (execute)="issueReportFun(item)">
              <div class="bag-report">
                <i class="fa-regular text-red-500 fa-bug  mr-1.5"></i> Report Bug
              </div>
            </ng-template>
            <ng-template contextMenuItem (execute)="OpenConfig(item )" *ngIf="url.includes('/builder')">
              <div class="bag-report">
                <i class="fa-regular text-green-500 fa-arrow-up-right-from-square mr-1.5"></i>
                Open Config
              </div>
            </ng-template>
          </context-menu>
          <st-mains [mappingId]="mappingId" [isDrawer]="isDrawer"
            (click)="applyHighlightInsideLayer(mainData , item.id , $event)" [item]="item" [formlyModel]="formlyModel"
            [screenName]="screenName" [screenId]="screenId" [isLast]='isLast' [form]="form" *ngIf="item"></st-mains>
        </span>
      </ng-template>
      <span class="tooltip-icon" *ngIf="item?.tooltipPosition ==  undefined || item?.tooltipPosition == 'top'">
        <span *ngIf="item.type != 'progressBar' && item.type != 'alert'
                    && item.type != 'switch' && item.type != 'rangeSlider' && item.type != 'editor_js' && item?.formlyType != 'input' && item.tooltip
                    && !item?.tooltipWithoutIcon || false" nz-tooltip [nzTooltipTitle]="item.tooltip">
          <span nz-icon [nzType]="item.tooltipIcon ?  item.tooltipIcon : 'question-circle'"
            [style.color]="item['toolTipColor']" nzTheme="outline"></span>
        </span>
      </span>

    </div>
  </div>
</div>
