.rc-anchor-normal{height:74px;width:380px !important}#recaptcha{height:80px !important;width:80%;display:block}.bottom-div{height:70px !important}.img-div{height:calc(100vh - 185px) !important;position:relative}.img-div::before{content:"";background:url("https://www.expocitydubai.com/_nuxt/img/flower-white@2x.f642a17.webp");background-position:center center;background-repeat:no-repeat;background-size:contain;position:absolute;width:100%;height:100%;animation:rotate 180s linear infinite}@keyframes rotate{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}

.toolbar-spacer {
    flex: 1 1 auto;
  }
  
  a.title {
    color: white;
  }

  .footer-text {
    font-size: small;
    text-align: center;
    flex: 1 1 auto;
  }