:host ::ng-deep [nz-carousel-content] {
    text-align: center !important;
    height: 160px !important;
    line-height: 160px !important;
    background: white !important;
    color: black !important;
    overflow: hidden !important;
}

:host ::ng-deep .sliderNew {
    text-align: center !important;
    height: 160px !important;
    line-height: 160px !important;
    background: #364d79 !important;
    color: #fff !important;
    overflow: hidden !important;
}


