<nz-row [nzGutter]="16" [processData]="processData" class="statistic"
[appConfigurableSelect]="statisticData['appConfigurableEvent']" [loadAction]="statisticData['eventActionconfig']">
    <ng-container *ngFor="let item of statisticData.statisticArray" >
        <nz-col [nzSpan]="12">
            <nz-card [class]="statisticData?.innerClass">
                <nz-statistic [nzPrefix]="prefixTpl" [nzSuffix]="suffixTpl" [nzValue]='item.value' class="tyb"
                [nzTitle]='item.title | translate'></nz-statistic>
                <ng-template #prefixTpl>
                    <st-icon *ngIf="item?.prefixIcon" [type]="statisticData?.iconType"
                      [hoverIconColor]="statisticData?.hoverIconColor || ''"  [icon]="item.prefixIcon" [size]="statisticData?.iconSize" [color]="statisticData?.iconColor"></st-icon></ng-template>
                <ng-template #suffixTpl><st-icon *ngIf="item?.suffixIcon" [type]="statisticData?.iconType"
                      [hoverIconColor]="statisticData?.hoverIconColor || ''"  [icon]="item.suffixIcon" [size]="statisticData?.iconSize" [color]="statisticData?.iconColor"></st-icon></ng-template>
            </nz-card>
        </nz-col>
    </ng-container>
</nz-row>