<ng-template #template let-notification>
    <div class="ant-notification-notice-content">
        <div [ngClass]="notificationData.isSmile? 'ant-notification-notice-with-icon': ''">
            <span *ngIf="notificationData.isSmile" class="ant-notification-notice-icon">
                <span>
                    <st-icon *ngIf="notificationData?.icon" [type]="notificationData?.iconType || 'outline'"
                        [icon]="notificationData?.icon" [size]="notificationData?.iconSize"
                        [hoverIconColor]="notificationData?.hoverIconColor || ''"   [color]="notificationData?.iconColor"></st-icon>
                </span>
                <!-- <span nz-icon [nzType]="notificationData.icon" [style.color]="notificationData.color"></span> -->
            </span>
            <div class="ant-notification-notice-message">{{notificationData.title | translate}}</div>
            <div class="ant-notification-notice-description">{{notificationData.content}}
            </div>
            <span *ngIf="notificationData.isEdit" class="ant-notification-notice-btn">
                <button nz-button nzType="primary" nzSize="small" (click)="notification.close()">
                    <span>Confirm</span>
                </button>
            </span>
        </div>
    </div>
</ng-template>
<div [class]="notificationData.buttonPlacement || 'text-left'">
    <button nz-button [nzType]="'primary'" *ngIf="notificationData.notificationType == 'default'"
        (click)="createBasicNotification(template)">
        {{notificationData.btnText}}
    </button>
    <button nz-button [nzType]="'primary'" *ngIf="notificationData.notificationType != 'default'"
        (click)="createNotification(notificationData.notificationType)">{{notificationData.btnText}}</button>
</div>