<nz-spin [nzSpinning]="loader" [nzSize]="'large'">
    <div class="w-full flex flex-wrap h-screen register !overflow-hidden">
        <!-- poster -->
        <div class="lg:w-1/2 !hidden lg:!inline-block !h-full !relative !box-border !bg-[#ffd300] !text-black">
            <!-- logo -->
            <div class="flex items-center absolute space-x-[14px] top-5 left-6">
                <img src="assets/images/expo/icons/Layout=Horizontal, Language=English, Type=Solid Black, Text colour=Black.png"
                    class="!w-auto !h-full object-fill max-w-[100px]" alt="ExpoCity_Logo" />
                <!-- <p class="text-[28px] not-italic font-bold leading-[35px] tracking-[-0.346px] mb-0">
                    Fastify
                </p> -->
            </div>

            <div class="w-full h-fit flex justify-center absolute space-x-[14px] top-6">
                <h1 class="!text-3xl font-bold !mb-0 !text-slate-900">PMO Governance Managment</h1>
            </div>
            <div class="w-full h-screen pt-24">
                <div
                    class="!flex !justify-center !items-center img-div !bg-center !bg-no-repeat !bg-contain !px-[70px]">
                    <img src="assets/images/expo/Image1st.png"
                        class="max-w-[50%] max-h-[50%] rounded-full w-auto m-auto object-contain"
                        alt="Expo City View" />
                </div>
            </div>
            <div class="!h-fit bottom-div !absolute bottom-2 w-full !flex !flex-col !items-center !text-center">
                <p class="!text-[24px] !mb-1.5 !text-black !not-italic !font-bold !leading-[30px] !tracking-[0.2px]">
                    Expo City Dubai
                </p>
                <p class="!text-[14px] !text-black !opacity-60 !not-italic !font-normal !leading-[22px]">
                    The human-centric city of the future.
                </p>
            </div>
        </div>


        <div class="w-full lg:w-1/2 h-full flex justify-center box-border items-center">
            <div class="w-[400px] flex flex-col items-center">
                <div class="w-full flex justify-center mb-2 md:my-5 items px-5 md:px-7">
                    <p
                        class="text-3xl sm:text-4xl mb-3 !text-left not-italic font-bold leading-[30px] tracking-[0.2px] text-[#0F172A]">
                        Reset Your Account
                    </p>
                </div>
                <nz-alert nzType="warning" nzMessage="Warning" nzDescription="You are not human" nzShowIcon
                    class="w-[350px] rechateAlert" *ngIf="showRecaptcha"></nz-alert>


                <form action="" [formGroup]="form" (ngSubmit)="submitForm()"
                    class="flex flex-col px-5 md:px-7 items-center w-full">
                    <div class="flex w-full flex-col">

                        <div class="w-full flex justify-center items-center relative py-4">
                            <nz-input-group [nzPrefix]="prefixTemplatepass" [nzSuffix]="suffixTemplateInfo"
                                class="w-full sm:!w-[350px] !rounded-md  py-2   px-4 !h-[46px]">
                                <input [type]="passwordType" formControlName="password" nz-input
                                    placeholder="Password" />
                            </nz-input-group>
                            <app-error class="absolute left-0 bottom-[-10px]" [form_control]="f['password']"
                                [isSubmitted]="isFormSubmit"></app-error>
                            <ng-template #prefixTemplatepass>
                                <i class="fa-regular fa-lock-keyhole mr-3 text-lg"></i>
                            </ng-template>
                            <ng-template #suffixTemplateInfo>
                                <i (click)="showPassword()" [class]="passwordIcon"></i>
                            </ng-template>
                        </div>

                        <div class="w-full flex justify-center items-center relative py-4">
                            <nz-input-group [nzPrefix]="prefixTemplateconfirmpass" [nzSuffix]="suffixTemplatecInfo"
                                class="w-full sm:!w-[350px] !rounded-md px-4 !h-[46px]">
                                <input [type]="confirmpasswordType" formControlName="confirmpassword" nz-input
                                    placeholder="Confirm Password" />
                            </nz-input-group>
                            <app-error class="absolute left-0 bottom-[-10px]" [form_control]="f['confirmpassword']"
                                [isSubmitted]="isFormSubmit"></app-error>
                            <ng-template #prefixTemplateconfirmpass>
                                <i class="fa-regular fa-lock-keyhole mr-3 text-lg"></i>
                            </ng-template>
                            <ng-template #suffixTemplatecInfo>
                                <i (click)="showConfirmPassword()" [class]="confirmpasswordIcon"></i>
                            </ng-template>
                        </div>

                        <div *ngIf="form.get('confirmpassword')?.hasError('passwordMatch')"
                            class="text-red-500 pb-2 -mt-2">
                            Password and Confirm Password did not match.
                        </div>
                    </div>
                    <div class="py-2">
                        <div class="reCaptcha" id="recaptcha" class="g-recaptcha"
                            data-sitekey="6LcZ59MnAAAAAEFG5x2mJoJ_ptOFR7O2hSX0HHx3"></div>
                    </div>
                    <div class="flex w-full py-4">
                        <button
                            class="w-full sm:!w-[350px] bg-[#ffd300] !rounded-md text-black font-bold py-2 px-4 !h-[46px]">
                            Reset
                        </button>
                    </div>
                </form>

                <nz-divider nzText="Or Sign In with"
                    class="!text-xs not-italic font-normal my-4 leading-[19.2px]"></nz-divider>

                <div class="my-4">
                    <p class="text-[14px] not-italic font-normal leading-[22.4px]">
                        Already have an account?<a class="font-bold text-[#ffd300] hover:text-[#ffd300] ml-1"
                            routerLink="/auth/login">Log In</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nz-spin>