<ng-container *ngIf="to['additionalProperties']?.wrapper != 'floating_standard'">
  <div class="relative z-0">
    <nz-radio-group class="flex flex-wrap"
      [ngClass]="to['additionalProperties']?.wrapper && to['additionalProperties']?.wrapper == 'floating_filled' || to['additionalProperties']?.wrapper == 'floating_outlined' || to['additionalProperties']?.wrapper == 'floating_standard' ? to['additionalProperties']?.floatFieldClass : ''"
      [formControl]="formControl" (ngModelChange)="onModelChange($event, field)">
      <label  [class]="item?.width" *ngFor="let item of list; let i=index" nz-radio
        [nzValue]="item.value">{{item.label}}</label>
    </nz-radio-group>
    <label
      *ngIf="to['additionalProperties']?.wrapper == 'floating_outlined' || to['additionalProperties']?.wrapper == 'floating_filled'"
      [ngClass]="to['additionalProperties']?.floatLabelClass">{{ to.label ?? '' | translate }}</label>
  </div>
</ng-container>
<div class="relative z-0" *ngIf="to['additionalProperties']?.wrapper == 'floating_standard'">
  <nz-radio-group class="flex flex-wrap"
    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer "
    [formControl]="formControl" (ngModelChange)="onModelChange($event, field)">
    <label [class]="item?.width" *ngFor="let item of list; let i=index" nz-radio
      [nzValue]="item.value">{{item.label}}</label>
  </nz-radio-group>
  <label
    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{
    to.label ?? '' | translate }}</label>
</div>
