.fourth{
    transform: rotate(-98deg) !important; 
    margin-top: 20px !important;
    margin-left: 5px !important;
}

.second{
    transform: rotate(27deg) !important;
    top: 14% !important;
    right: 17% !important;
}

.first{
    transform: rotate(-65deg) !important;
    top: 59% !important;
    right: 6% !important;
}

.fifth{
    transform: rotate(10deg) !important; 
}