<!-- <nz-ribbon nzText="Hippies"> -->
<!-- <nz-badge nzSize="default" [nzCount]="5"> -->
<!-- <nz-badge nzDot> -->
<nz-card (click)="routeLink(item)" [style.border-radius.px]="item['radius']"
    [nzTitle]="item?.title ? title : item?.title" [style.background-color]="item?.bgColor || ''"
    [ngStyle]="{'height': item?.height && item?.height != 0 ? item?.height + 'px' : '', 'overflow': item?.height && item?.height != 0 ? 'auto' : ''}"
    [style.border]="item?.borderless ? 'none' :'1px solid #f0f0f0' ">
    <div class="'body'">
        <st-main [mappingId]="mappingId" [mainData]="item" [formlyModel]="formlyModel"
            [screenName]="screenName" [screenId]="screenId" [form]="form"></st-main>
    </div>
    <div class="footer footer-border" *ngIf="item?.footerText">
        <p class="footer-text" [style.color]="item?.footerTextColor || ''">{{item?.footerText}}</p>
    </div>
</nz-card>
<!-- </nz-badge> -->
<!-- </n-z-badge> -->
<!-- </nz-ribbon> -->

<ng-template #title>
    <p *ngIf="item?.title" [style.color]="item?.headerTextColor || ''">{{item?.title}}</p>
</ng-template>