<div class="!bg-white w-full md:flex h-screen justify-start items-start !overflow-hidden">

    <div class="img-container !h-[calc(100vh-230px)] !inline-flex justify-center items-center w-full md:!h-screen !relative  md:w-1/2 ">
        <img src="./assets/images/8030430_3828537.jpeg" class="w-full h-full md:h-auto object-contain"
            alt="oops 404 error with broken robot concept">
    </div>

    <div  #btncontiner class=" h-[230px] md:h-full !inline-flex !justify-center md:p-10 p-7 pb-0 pt-0 md:pb-10 md:pt-10 flex-col items-center w-full md:w-1/2 !relative">
        <Div class="mb-3 md:mb-5">
            <h1 class="md:text-7xl text-4xl font-bold mb-3 md:mb-5 text-[#007dfe]">Page Not Found</h1>
            <p class="!text-sm md:text-lg uppercase">Something Went Wrong!
                <br class="hidden md:inline-block">
                We Are Really Sorry For This inconvenience
            </p>
            <div class="md:flex !justify-start items-center mt-3 md:mt-5 !w-full">
                <button class="btn-no px-5
                    border border-gray-300 hover:border-[#007dfe] hover:text-[#007dfe] !w-full md:!w-1/2 " nz-button><i
                        class="fa-regular fa-address-card mr-1.5"></i> ContacT Us</button>
                <button routerLink="/" class="btn px-5
                    md:ml-3 !bg-[#007dfe] !w-full !mt-3 md:!mt-0 md:!w-1/2"> <i
                        class="fa-regular fa-arrow-up-right-from-square fa-flip-horizontal mr-1.5"></i>Back To
                    Home</button>
            </div>
        </Div>
    </div>


</div>